﻿@model List<MvcApplication1.Models.Blog>

@{
    Layout = null;
}

<table>
    <tr>
        <th>data</th>
        <th>treść</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateTime</td>
            <td>@item.Tresc</td>
            <td>@Html.ActionLink("Delete", "Delete",
                    new {id = item.Id},
                    new {onclick = "return confirm('Czy na pewno chcesz usunąć ten wpis?');"})
            </td>
        </tr>
    }
</table>

<div>
    @using (Html.BeginForm("Add", "Blog"))
    {
        
        @Html.TextArea("Tresc")
        <br />
        <input type="submit" value="Dodaj wpis" />
    }
</div>
